/* Specific, structural parts of the doc */
#pageTitle {
  text-align: center;
}

.fullStatBlock {
  width: 440px;
  box-shadow:  0 20px  15px #888888;
}

.statBlockBody {
  padding: 10px;
  background-color: #FDF1DC;
}

/* Name section */
.nameSection > h1.monsterName {
  margin: 0px;
}

.nameSection > .monsterName {
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
  color: #7A200D;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.nameSection > .overviewDetails {
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
}

.nameSection .alignmentTable {
  cursor: pointer;
  border-spacing: 0.35em;
}

.nameSection .alignmentTable td {
  border: 1px solid #922610;
  text-align: center;
}

.nameSection .alignmentTable td:not(.selected):hover {
  background-color: #ffe3b2;
}

.nameSection .alignmentTable td.selected {
  background-color: #7A200D;
  color: #FDF1DC;
}

/* Standard Attributes section */
.smallValueInput {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 35px;
  text-align: right;
}

.speedsList {
  margin-top: 3px;
  margin-bottom: 3px;
  list-style:none;
  padding-left: 14px;
}
.speedsList li {
  margin-bottom: 3px;
}

/* Base stats section */
.statsSection .eachStatContainer {
  display: flex;
}

.statsSection .eachStatContainer .indivStat {
  flex-grow: 1;
  text-align: center;
}

.actionsSection h2 {
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: lighter;
  color: #7A200D;
}

/* DiceValue */
.diceValue .dieComponent .multiplier {
  width: 40px;
}

.diceValue .dieComponent:not(:last-child)::after {
  content: '+';
  margin-left: 4px;
  margin-right: 4px;
}

.diceValue .rollIcon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

/* Broad classes for multiple components */
h2 {
  border-bottom: 1px solid #7A200D;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}

section.editable {
  cursor: pointer;
}
section.editable:hover {
  background-color: #ffe3b2;
}

.sectionActions {
  margin-top: 10px;
  text-align: right;
}

button {
  cursor: pointer;
}

button.finalize {
  border: 1px solid #d2a659;
  background: transparent;
  font-weight: bold;
  margin: 1px;
}
button.finalize:hover {
  background-color: #d2a659;
  color: #7A200D;
  border: 1px solid #7A200D;
}

button.minorAction {
  border: none;
  background: transparent;
  color: #d2a659;
}

button.revert {
  border: none;
  background: transparent;
  color: #d2a659;
}
button.revert:hover {
  color: #7A200D;
}

div.creatureProperty {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

div.creatureProperty .propName {
  margin-right: 0.2em;
}

.creatureAbility {
  margin-bottom: 0.5em;
}

.majorTerm {
  color: #7A200D;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
}

.highlightedText {
  font-size: 15px;
  color: #7A200D;
  font-family: sans-serif;
}

.abilityName {
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  margin-right: 0.4em;
}

.abilityDescription {
  font-size: 15px;
  font-family: sans-serif;
}
textarea.abilityDescription {
  width: 90%;
  background-color: transparent;
  border: 1px dashed #d2a659;
  border-top:none;
}

.spaceLeft {
  margin-left: 5px;
}

input[type=number] {
  /* Allows for 2 digits as a default */
  width: 2.5em;
}

input[type=text], input[type=number], select {
  background-color: transparent;
  border: 1px dashed #d2a659;
}

svg.majorDivider {
  fill: #922610;
  stroke: #922610;
}

div.boundingBar {
  border: 1px solid black;
  background-color: #e69a28;

  height: 5px;
  width: 100%;
}
